body
{
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	margin: 0%;
	padding: 0%;
	background-image: url(../Images/Backgrounds/ScreenShot2022-09-10at11.45.11AM.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.circle
{
	float:left;
	padding-bottom: 1%;
	border-radius: 50%;
}
.logos
{
	float: right;
	padding: .5%;
}
h1
{
	margin: 0%;
	padding: 2%;
}
h2
{
	color: #a0a0a0;
}
a:link
{
	color:#808080;
}
a:hover
{
	color: #a0a0a0;
}
a:visited
{
	color: #a0a0a0;
}
#banner
{
	background-color: #000000df;
	position:static;
	margin: 0%;
	padding: 0%;
	position: static;
	overflow:hidden;
}
#nav
{
	text-align: end;
	padding: 2%;
}
#introduction
{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 4%;
	margin-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background-color: #000000df;
	overflow:auto;
	z-index: 99;
}